@font: Gilroy;
@white: #ffffff;
@black: #262626;
@green: #038C73;
@gray-bg: #F2F2F2;
@gray-bg-2: #F9F9F9;
@gray-dots: #C1C1C1;
@gray-promo-bg: #EAEBEE;
@gray-br-1: #D9D9D9;
@gray-br-2: #E0DFDF;
@gray-counter-bg: #C9C9C9;
@gray-txt: #858F9A;
@gray-txt-2: #767474;
@gray-txt-3: #666666;
@gray-check: #737C87;
@gray-tooltip: #CACDC2;
@gray-lt: #EDEDED;
@red: #F65E64;

body {
    .wrapper {
        //UI

        //UI
        .promo {
            &.safe-page {
                .promo-static {
                    &-img {
                        padding-right: 115px;
                        padding-top: 20px;
                    }

                    &-info {
                        h1 {
                            max-width: 465px;
                        }

                        &-txt {
                            max-width: 595px;
                            margin-top: 45px;
                        }
                    }
                }
            }
        }

        main {
            .m-inner {
                .advantages {
                    &.storage {
                        .advantages-block {
                            padding: 60px 165px 60px 130px;
    
                            &-item {
                                width: ~"calc((100% - 255px)/3)";
                            }
                        }
                    }
                }

                .steps-advantages {

                    &.rent {
                        .steps-advantages-content {
                            padding-left: 0;
                            padding-right: 100px;
    
                            span {
                                margin-top: 50px;
                                display: block;
                                font: 300 18px/26px @font;
                                color: @black;
                            }
    
                            &-block {
                                margin-top: 20px;
    
                                &-item {
                                    font: 300 18px/26px @font;
                                    color: @black;
                                }
                            }
                        }
                        .steps-advantages-img {
                            width: 50%;
    
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .tariffs {
                    padding: 60px 0;

                    .tariffs-content-list {
                        margin-top: 40px;
                    }

                    h2 {
                        font: 700 28px/42px @font;
                    }
                }

                .helping-contacts {
                    &.rent {
                        .helping-contacts-txt {
                            max-width: 905px;
                        }
                    }
                }
            }
        }
    }
}