.bg-outside {
  position: relative;
}
.bg-outside:before,
.bg-outside:after {
  content: '';
  display: block;
  width: 100%;
  background: inherit;
  position: absolute;
  bottom: 0px;
  top: 0px;
}
.bg-outside:before {
  right: 100%;
}
.bg-outside:after {
  left: 100%;
}
.green-grad-txt {
  color: #038C73;
  background: linear-gradient(270deg, #6CC47B 0%, #038C73 100%);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
