@font: Gilroy;
@white: #ffffff;
@black: #262626;
@green: #038C73;
@gray-bg: #F2F2F2;
@gray-bg-2: #F9F9F9;
@gray-bg-3: #D0D0D0;
@gray-blue: #858F9A;
@gray-dots: #C1C1C1;
@gray-promo-bg: #EAEBEE;
@gray-br-1: #D9D9D9;
@gray-br-2: #E0DFDF;
@gray-br-3: #E6E8E0;
@gray-counter-bg: #C9C9C9;
@gray-txt: #858F9A;
@gray-txt-2: #767474;
@gray-txt-3: #666666;
@gray-check: #737C87;
@gray-tooltip: #CACDC2;
@gray-lt: #EDEDED;
@red: #F65E64;

.bg-outside {
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        background: inherit;
        position: absolute;
        bottom: 0px;
        top: 0px;
    }

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;
    }
}

.green-grad-txt {
    color: @green;
    background: linear-gradient(270deg, #6CC47B 0%, #038C73 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    .wrapper {

        //UI
        h1 {
            &.sm {
                font: 700 36px/45px @font;
            }
        }

        h2 {
            .sm {
                font: 700 28px/42px @font;
            }
        }

        p {
            margin-bottom: 35px;
            font: 300 20px/30px @font;
            color: @black;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .social-shares {
            padding: 40px 0 100px 0;

            &-txt {
                font: 300 16px/24px @font;
                color: @gray-txt;
            }

            &-block {
                margin-top: 10px;
                display: flex;

                &-item {
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        width: 25px;
                        height: 25px;

                        svg {
                            max-width: 100%;
                            max-height: 100%;

                            path {
                                transition: .3s;
                            }
                        }

                        &:hover {
                            svg {
                                path {
                                    fill: @green;
                                }
                            }
                        }
                    }
                }
            }
        }

        ul {
            &.list {
                margin: 0;
                padding: 0;
                list-style: none;

                &.big {
                    li {
                        margin-top: 22px;
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 300;

                        &:before {
                            top: 10px;
                        }
                    }
                }

                li {
                    position: relative;
                    padding-left: 22px;
                    margin-top: 18px;
                    font: 16px/1.45 @font;
                    color: @black;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 8px;
                        width: 6px;
                        height: 6px;
                        background: @red;
                        border-radius: 50%;
                    }

                    a {
                        color: @green;
                        border-bottom: 1px solid @green;
                        white-space: nowrap;
                        transition: .2s;

                        &:hover {
                            border-color: transparent;
                        }
                    }
                }

                &.black {
                    li {
                        margin-top: 0;
                        font: 500 18px/30px @font;

                        &:before {
                            background: @black;
                        }
                    }
                }
            }
        }

        //UI
        .promo {
            &.payment-page {
                .promo-static {
                    &-img {
                        padding-right: 0;
                        padding-top: 0;
                    }

                    &-info {
                        padding: 120px 0 60px 145px;

                        h1 {
                            max-width: 465px;
                        }

                        &-txt {
                            max-width: 655px;
                            margin-top: 45px;
                        }
                    }
                }
            }

            &.safe-page {
                .promo-static {
                    &-img {
                        padding-right: 115px;
                        padding-top: 0;
                    }

                    &-info {
                        padding: 90px 0 60px 145px;

                        h1 {
                            max-width: 465px;
                        }

                        &-txt {
                            max-width: 595px;
                            margin-top: 45px;
                        }
                    }
                }
            }

            &.remittance-page {
                .promo-static {
                    &-info {
                        padding: 120px 0 60px 150px;

                        h1 {
                            max-width: 605px;
                        }

                        &-txt {
                            max-width: 705px;
                            margin-top: 35px;
                        }
                    }
                }
            }

            &.collection-page {
                .promo-static {
                    &-info {

                        h1 {
                            max-width: 625px;
                        }

                        &-txt {
                            max-width: 575px;
                            margin-top: 30px;
                        }
                    }
                }
            }

            &.credits-inner-page {
                .promo-static {
                    background: @gray-promo-bg;

                    &-info {
                        padding-bottom: 50px;
                        padding-top: 66px;

                        &-txt {
                            margin: 10px 0 0 0;
                            font: 300 22px/26px @font;
                        }

                        &-block {
                            &-item {
                                margin-left: 70px;

                                &:first-child {
                                    margin-left: 0;
                                }

                                &-val {
                                    font: 22px/1 @font;

                                    span {
                                        margin-left: 7px;
                                        margin-right: 7px;
                                        font-size: 34px;
                                    }
                                }
                            }
                        }

                        .ui-btn {
                            margin-top: 40px;
                        }
                    }
                }
            }

            &.card-inner {
                .promo-static {
                    &-info {
                        h1 span {
                            .green-grad-txt;
                        }

                        &-block {
                            &-item {
                                &-val {
                                    font: 22px/1 @font;

                                    span {
                                        margin-left: 7px;
                                        margin-right: 7px;
                                        font-size: 34px;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            &.raschety-page {
                .promo-static {
                    &-info {
                        h1 {
                            max-width: 700px;
                        }

                        &-txt {
                            max-width: 580px;
                        }
                    }
                }
            }
        }

        main {
            .m-inner {
                .advantages {
                    &.payment-page {
                        padding: 0;

                        .advantages-block {
                            box-shadow: none !important;
                            margin-top: 0;

                            &-item {
                                width: ~"calc(100%/4)";

                                &-img {
                                    margin: 0 auto;
                                }

                                &-txt {
                                    text-align: center;
                                }
                            }
                        }
                    }

                    &.safe-page {
                        padding: 75px 0 60px 0;

                        .advantages-block {
                            padding: 50px 160px 55px 130px;

                            &-item {
                                width: ~"calc((100% - 255px)/3)";
                            }
                        }
                    }

                    &.collection-page {
                        .advantages-block {
                            padding: 40px 80px 60px 0;
                            box-shadow: none !important;
                            margin-top: 0;

                            .list {
                                max-width: 625px;

                                &.big {}
                            }
                        }
                    }
                }

                .banners {
                    &.payment-page {
                        padding: 50px 0 40px 0;

                        .banners-list {
                            margin-top: 40px;

                            &-item-content {
                                &-title {
                                    font: 500 30px/36px @font;
                                }

                                &-txt {
                                    margin: 25px 0 45px 0;
                                    max-width: 295px;
                                    font: 300 18px/21px @font;
                                }

                                &-actions {
                                    display: flex;
                                    align-items: center;

                                    .ui-btn-hollow {
                                        margin-right: 35px;
                                    }

                                    &-ui-arrow-link {
                                        a {
                                            display: flex;
                                            align-items: center;
                                            font: 300 18px/50px @font;
                                            color: @black;
                                            transition: .2s;

                                            &:after {
                                                content: '';
                                                margin-left: 10px;
                                                width: 8px;
                                                height: 14px;
                                                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M1 12.1877L6 6.68774L1 1.18774' stroke='%23F65E64' stroke-width='2'/%3E%3C/svg%3E") center no-repeat;
                                            }

                                            &:hover {
                                                color: @red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.card-inner {
                        padding: 40px 0 60px 0;

                        .banners-title {
                            text-align: center;
                        }

                        .banners-list {
                            margin-top: 40px;

                            &-item {
                                &-content {
                                    padding: 50px 60px 50px 60px;

                                    &-title {
                                        font: 500 30px/36px @font;
                                    }

                                    &-txt {
                                        margin-bottom: 0;
                                        margin-top: 25px;
                                        font: 300 18px/1.4 @font;
                                        max-width: 295px;

                                        a {
                                            color: @green;

                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .steps-advantages {
                    &.rent {
                        .steps-advantages-content {
                            padding-left: 0;
                            padding-right: 100px;

                            span {
                                margin-top: 50px;
                                display: block;
                                font: 300 18px/26px @font;
                                color: @black;
                            }

                            &-block {
                                margin-top: 20px;

                                &-item {
                                    font: 300 18px/26px @font;
                                    color: @black;
                                }
                            }
                        }

                        .steps-advantages-img {
                            width: 50%;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    &.collection-page {
                        padding: 0;
                        min-height: 500px;
                        background-color: @gray-bg;
                        border-radius: 10px;
                        overflow: hidden;

                        .steps-advantages-img {
                            max-width: 635px;
                        }

                        .steps-advantages-info {
                            padding: 73px 155px 75px 135px;

                            h2 {
                                max-width: 555px;
                            }

                            &-txt {
                                margin-top: 20px;
                                max-width: 553px;

                                p {
                                    margin-bottom: 30px;
                                    font: 300 18px/26px @font;
                                    color: @black;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.raschety-page {
                        padding: 100px 0 40px 0;

                        .steps-advantages-content {
                            padding-left: 40px;

                            h2 {
                                max-width: 700px;
                            }

                            span {
                                margin-bottom: 30px;
                                display: block;
                                font: 300 18px/26px @font;
                                color: @black;
                            }
                        }
                    }
                }

                .tariffs {
                    padding: 40px 0;

                    &-content-list {
                        margin-top: 40px;
                    }

                    &.collection-page {
                        padding: 90px 0 40px 0;
                    }
                }

                .helping-contacts {
                    &.rent {
                        .helping-contacts-txt {
                            max-width: 905px;
                        }
                    }

                    &.payment-page {
                        .helping-contacts-txt {
                            max-width: 750px;
                        }
                    }

                    &.remittance-page {
                        .helping-contacts-txt {
                            max-width: 750px;
                        }
                    }

                    &.collection-page {
                        .helping-contacts-txt {
                            max-width: 935px;
                        }
                    }

                    &.raschety-page {
                        .helping-contacts-txt {
                            max-width: 1095px;
                        }
                    }
                }

                .systems {
                    padding: 75px 0 60px 0;

                    &-content {
                        margin-top: 25px;

                        &-heading {
                            padding: 20px 60px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &-item {
                                width: 180px;
                                font: 300 14px/20px @font;
                                color: @gray-txt;
                                text-transform: uppercase;

                                &:nth-child(2) {
                                    margin-left: 70px;
                                }

                                &:nth-child(3) {
                                    margin-left: 50px;
                                }

                                &:nth-child(5) {
                                    margin-left: 100px;
                                }

                                &:nth-child(6) {
                                    margin-left: 60px;
                                }
                            }
                        }

                        &-block {
                            &-item {
                                margin-top: 20px;
                                padding: 24px 60px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5) !important;

                                &:first-child {
                                    margin-top: 0;
                                }

                                &-point {
                                    width: 180px;
                                    font: 300 18px/21px @font;
                                    color: @black;

                                    &:nth-child(2) {
                                        margin-left: 70px;
                                    }

                                    &:nth-child(3) {
                                        margin-left: 50px;
                                    }

                                    &:nth-child(5) {
                                        margin-left: 100px;
                                    }

                                    &:nth-child(6) {
                                        margin-left: 60px;
                                    }

                                    a {
                                        color: @red;
                                    }
                                }
                            }
                        }
                    }
                }

                .news {

                    &.news-page {
                        padding: 0 0 45px 0;

                        .tags {
                            margin-top: 45px;
                        }

                        .news-block {
                            margin-top: 60px;
                            flex-wrap: wrap;

                            &-item {
                                width: calc((100% - 190px)/2);
                                margin-top: 80px;

                                &:nth-child(1) {
                                    margin-top: 0;
                                }

                                &:nth-child(2) {
                                    margin-top: 0;
                                }

                                a {
                                    display: block;
                                    max-width: 550px;
                                }

                                &-title {
                                    margin-top: 15px;
                                    font: 500 18px/26px @font;
                                    color: @black;
                                }

                                &-txt {
                                    font: 300 16px/24px @font;
                                }
                            }
                        }
                    }

                    &.inner-page {
                        padding: 0;
                        width: 350px;

                        .news-block {
                            margin: 0;
                            display: block;

                            &-item {
                                padding: 30px 0;
                                width: 100%;
                                border-bottom: 1px solid @gray-bg;

                                &:first-child {
                                    padding: 0 0 30px 0;
                                }
                            }
                        }
                    }

                    &-fully {
                        margin-top: 35px;
                        display: flex;
                        justify-content: space-between;

                        &-txt {
                            max-width: 820px;


                        }
                    }
                }

                .news-heading {
                    max-width: 825px;

                    &-date {
                        margin-top: 12px;
                        font: 300 16px/20px @font;
                        color: @gray-txt;
                    }
                }

                .pagination {
                    padding: 40px 0 90px 0;

                    &-block {
                        display: flex;
                        align-items: center;

                        &-item {
                            font: 300 18px/26px @font;
                            color: @black;

                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                min-width: 26px;
                                padding: 0 5px;
                                color: @black;
                                border-radius: 5px;
                                transition: .3s;

                                &:hover {
                                    background-color: @gray-bg;
                                }
                            }
                        }
                    }

                    &-control {
                        margin-left: 20px;

                        a {
                            display: block;
                            border: 1px solid @gray-check;
                            font: 300 14px/17px @font;
                            color: @black;
                            border-radius: 30px;
                            padding: 9px 20px 11px 20px;
                            transition: .3s;

                            &:hover {
                                border-color: @green;
                                background-color: @green;
                                color: @white;

                                svg {
                                    path {
                                        stroke: @white;
                                    }
                                }
                            }

                            svg {
                                margin-left: 10px;
                                transform: translateY(-1px);
                            }
                        }

                    }
                }

                .deposits-list {
                    &.credits-page {
                        .deposits-list-item {
                            padding: 55px 60px 37px 60px;

                            &.big {
                                padding: 50px 60px 30px 80px;

                                .deposits-list-item-content {
                                    &-name {
                                        max-width: 475px;
                                    }

                                    &-block {
                                        &-item {
                                            margin-left: 65px;

                                            &:first-child {
                                                margin-left: 0;
                                            }

                                            &:first-child {
                                                .deposits-list-item-content-block-item-val {
                                                    span {
                                                        margin-right: 0;
                                                    }
                                                }
                                            }

                                            &:last-child {
                                                .deposits-list-item-content-block-item-val {
                                                    span {
                                                        margin-right: 7px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &-actions {
                                        margin-top: 25px;
                                        padding-top: 35px;

                                        .ui-btn {

                                            a {
                                                padding: 0 40px;
                                            }
                                        }
                                    }
                                }
                            }

                            .deposits-list-item {
                                &-content {
                                    &-name {
                                        margin-top: 0;
                                        max-width: 300px;
                                    }

                                    &-block {
                                        align-items: flex-end;

                                        &-item {
                                            margin-left: 49px;

                                            &:first-child {
                                                margin-left: 0;
                                            }

                                            &-val {
                                                font: 22px/1 @font;
                                                color: @black;

                                                span {
                                                    margin-left: 7px;
                                                    margin-right: 7px;
                                                    font-size: 34px;
                                                }
                                            }

                                            &-desc {
                                                color: @black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.credits-inner-page {
                        padding: 60px 80px 100px 80px;
                        margin-top: 0;
                        background-color: @gray-bg;

                        .deposits-list-item {
                            background-color: @white;
                            margin-top: 40px;

                            &:nth-child(-n+2) {
                                margin: 0;
                            }

                            &-content {
                                &-name {
                                    font: 700 24px/30px @font;
                                    margin-top: 25px;
                                }

                                &-list {
                                    width: 305px;

                                }

                                &-actions {
                                    border-top: none;
                                    padding-top: 0;

                                    a {
                                        font: 300 16px/19px @font;
                                        color: @red;
                                    }
                                }
                            }
                        }
                    }
                }

                .deposits-steps {
                    &.credits-page {
                        padding: 120px 0 60px 0;

                        .deposits-steps-block {
                            &-item {
                                padding: 205px 25px 30px 25px;

                                &-content {
                                    &-desc {
                                        max-width: 228px;
                                        margin-top: 12px;
                                        font: 500 17px/21px @font;
                                        color: @gray-blue;

                                        a {
                                            color: @green;

                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .deposits-advantages {
                    &.credits-inner-page {
                        .deposits-advantages-block {
                            margin-top: 80px;

                            &-item {
                                &-content {
                                    padding: 75px 0 78px 40px;
                                }
                            }
                        }
                    }
                }

                .steps-easy {
                    &.credits-inner-page {
                        margin-top: 80px;

                        .steps-easy-block {
                            box-shadow: 0px 5px 32px rgba(204, 208, 214, 0.54) !important;

                            &-item {
                                width: 300px;

                                &-txt {
                                    margin-top: 40px;
                                }

                                &-desc {
                                    margin-top: 12px;
                                    text-align: center;
                                    font: 500 17px/21px @font;
                                    color: @gray-blue;

                                    a {
                                        color: @green;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .deposit-calc {
                    &.credits-inner-page {
                        margin-top: 0;

                        .deposit-calc-controls {
                            padding-top: 10px;
                        }

                        .ui-range {
                            margin-top: 35px;
                        }

                        .ui-pointer {
                            margin-top: 50px;
                        }

                        .deposit-calc-result {
                            margin-top: 80px;
                            padding: 55px 60px;

                            &-controls {
                                margin-top: 40px;
                            }

                            &-list {
                                &-item {
                                    &-val {
                                        .subnum {
                                            font: 700 33px/40px @font;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .tabs {
                    &.credits-inner-page {
                        .tabs {
                            &-content-list {
                                &-item {
                                    .list {
                                        &.big {
                                            margin-top: 25px;
                                        }
                                    }

                                    .points {
                                        &.credits-inner-page {
                                            display: flex;
                                            justify-content: space-between;
                                            border-bottom: 1px solid @gray-br-2;

                                            .points-point {
                                                border-top: none;
                                                display: block;
                                                padding-bottom: 50px;

                                                &-prop {
                                                    width: 205px;
                                                    padding-right: 0;
                                                    font: 500 16px/19px @font;
                                                    color: @gray-txt-2;
                                                }

                                                &-val {
                                                    margin-top: 12px;
                                                    padding: 0;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                    .docs {
                                        margin-bottom: 45px;
                                        max-width: 70%;

                                        &-item {
                                            &-txt {
                                                max-width: 170px;
                                            }
                                        }

                                        .ui-tip {
                                            margin-top: 22px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.card-inner {
                        .tabs {
                            &-content-list {
                                &-item {
                                    .conditions-sub {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        margin-top: 70px;
                                        background-color: @gray-bg;
                                        padding: 40px 0 35px 0;
                                        text-align: center;

                                        span {
                                            font: 500 22px/27px @font;
                                            color: @black;
                                        }

                                        a {
                                            margin-top: 3px;
                                            font: 500 19px/23px @font;
                                            color: @green;
                                            border-bottom: 1px dashed @green;
                                        }
                                    }

                                    .conditions {
                                        &.card-inner {
                                            padding: 0 100px;

                                            .conditions-condition {
                                                &-txt {
                                                    max-width: 215px;
                                                }
                                            }
                                        }
                                    }

                                    .deposits-advantages {
                                        margin-top: 100px;

                                        &-title {
                                            text-align: center;
                                        }

                                        &-block {
                                            &-item {
                                                &-content {
                                                    padding: 75px 0 70px 40px;

                                                    &-title {
                                                        max-width: 190px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .docs {
                                        margin-bottom: 45px;
                                        max-width: 70%;

                                        &-item {
                                            &-txt {
                                                max-width: 170px;
                                            }
                                        }

                                        .ui-tip {
                                            margin-top: 22px;
                                        }
                                    }

                                    .points {
                                        &-point {
                                            &-prop {
                                                &.card-img {
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                            }

                                            &-val {
                                                padding: 0 0 0 40px;
                                                width: auto;

                                                .list {
                                                    .full-point {
                                                        margin-top: 10px;
                                                        display: block;
                                                        font: 18px/26px @font;
                                                        color: @black;

                                                        &:nth-child(2n+1) {
                                                            margin-top: 0;
                                                        }
                                                    }

                                                    li {
                                                        margin-top: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .safety-block {
                    padding-top: 50px;
                    padding-bottom: 0px;

                    &:last-child {
                        padding-bottom: 100px;
                    }

                    &-item {
                        &-title {
                            margin-bottom: 25px;
                            font: 700 18px/22px @font;
                            color: @black;
                        }
                    }
                }

                .requisites {
                    padding: 40px 0 45px 0;

                    &-txt {
                        p {
                            max-width: 1000px;
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }

                    &-list {
                        padding-top: 45px;

                        &-item {
                            padding: 18px 0 18px 0;
                            display: flex;
                            align-items: center;
                            border-top: 1px solid @gray-br-2;

                            &:last-child {
                                border-bottom: 1px solid @gray-br-2;
                            }

                            &-point {
                                width: 30%;
                                font: 700 18px/26px @font;
                                color: @black;
                            }

                            &-val {
                                width: 70%;
                                padding-left: 50px;
                                font: 300 18px/34px @font;
                                color: @black;
                            }
                        }

                        &.sm {
                            .requisites-list-title {
                                margin-top: 15px;
                                margin-bottom: 30px;
                            }

                            .requisites-list-item {
                                max-width: 680px;

                                &-point {
                                    width: 20%;
                                }

                                &-val {
                                    width: 80%;
                                }
                            }
                        }
                    }


                }

                .questions-tabs {
                    &.requisites-page {
                        padding: 60px 0 40px 0;

                        .questions-tabs-title {
                            h2 {
                                text-align: start;
                            }
                        }

                        .questions-tabs-list {
                            background: transparent;

                            &-item {
                                &:first-child {
                                    border-color: @gray-br-2;
                                }

                                &:last-child {
                                    border-bottom: 1px solid @gray-br-2;
                                }

                                &-toggle {
                                    padding: 10px 20px 10px 0;
                                    font: 300 18px/45px @font;
                                    color: @gray-txt-2;
                                    align-items: center;
                                }

                                &-drop {
                                    padding: 15px 0;
                                }
                            }
                        }

                        .questions-tabs-sub {
                            margin-top: 40px;

                            a {
                                font: 500 18px/22px @font;
                                color: @red;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            &.raskrytie-info {
                                padding: 60px 0;
                                display: flex;
                                align-items: center;

                                .questions-tabs-sub-img {
                                    width: 50px;
                                    height: 50px;
                                }

                                .questions-tabs-sub-txt {
                                    max-width: 1180px;
                                    margin-left: 30px;
                                    font: 300 18px/21px @font;
                                    color: @black;
                                }
                            }
                        }
                    }

                    &.raskrytie-info {
                        .questions-tabs-list {
                            margin-top: 0;
                            margin-bottom: 30px;
                        }
                    }

                }
            }
        }
    }
}