@font: Gilroy;
@white: #ffffff;
@black: #262626;
@green: #038C73;
@gray-bg: #F2F2F2;
@gray-bg-2: #F9F9F9;
@gray-bg-3: #D0D0D0;
@gray-blue: #858F9A;
@gray-dots: #C1C1C1;
@gray-promo-bg: #EAEBEE;
@gray-br-1: #D9D9D9;
@gray-br-2: #E0DFDF;
@gray-br-3: #E6E8E0;
@gray-counter-bg: #C9C9C9;
@gray-txt: #858F9A;
@gray-txt-2: #767474;
@gray-txt-3: #666666;
@gray-check: #737C87;
@gray-tooltip: #CACDC2;
@gray-lt: #EDEDED;
@red: #F65E64;

.bg-outside {
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        background: inherit;
        position: absolute;
        bottom: 0px;
        top: 0px;
    }

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;
    }
}

.green-grad-txt {
    color: @green;
    background: linear-gradient(270deg, #6CC47B 0%, #038C73 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    .wrapper {

        //UI

        //UI

        main {
            .m-inner {
                
            }
        }
    }
}