.bg-outside {
  position: relative;
}
.bg-outside:before,
.bg-outside:after {
  content: '';
  display: block;
  width: 100%;
  background: inherit;
  position: absolute;
  bottom: 0px;
  top: 0px;
}
.bg-outside:before {
  right: 100%;
}
.bg-outside:after {
  left: 100%;
}
.green-grad-txt {
  color: #038C73;
  background: linear-gradient(270deg, #6CC47B 0%, #038C73 100%);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .wrapper h1.sm {
  font: 700 36px/45px Gilroy;
}
body .wrapper h2 .sm {
  font: 700 28px/42px Gilroy;
}
body .wrapper p {
  margin-bottom: 35px;
  font: 300 20px/30px Gilroy;
  color: #262626;
}
body .wrapper p:last-child {
  margin-bottom: 0;
}
body .wrapper .social-shares {
  padding: 40px 0 100px 0;
}
body .wrapper .social-shares-txt {
  font: 300 16px/24px Gilroy;
  color: #858F9A;
}
body .wrapper .social-shares-block {
  margin-top: 10px;
  display: flex;
}
body .wrapper .social-shares-block-item {
  margin-right: 25px;
}
body .wrapper .social-shares-block-item:last-child {
  margin-right: 0;
}
body .wrapper .social-shares-block-item a {
  display: block;
  width: 25px;
  height: 25px;
}
body .wrapper .social-shares-block-item a svg {
  max-width: 100%;
  max-height: 100%;
}
body .wrapper .social-shares-block-item a svg path {
  transition: 0.3s;
}
body .wrapper .social-shares-block-item a:hover svg path {
  fill: #038C73;
}
body .wrapper ul.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .wrapper ul.list.big li {
  margin-top: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}
body .wrapper ul.list.big li:before {
  top: 10px;
}
body .wrapper ul.list li {
  position: relative;
  padding-left: 22px;
  margin-top: 18px;
  font: 16px/1.45 Gilroy;
  color: #262626;
}
body .wrapper ul.list li:first-child {
  margin-top: 0;
}
body .wrapper ul.list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background: #F65E64;
  border-radius: 50%;
}
body .wrapper ul.list li a {
  color: #038C73;
  border-bottom: 1px solid #038C73;
  white-space: nowrap;
  transition: 0.2s;
}
body .wrapper ul.list li a:hover {
  border-color: transparent;
}
body .wrapper ul.list.black li {
  margin-top: 0;
  font: 500 18px/30px Gilroy;
}
body .wrapper ul.list.black li:before {
  background: #262626;
}
body .wrapper .promo.payment-page .promo-static-img {
  padding-right: 0;
  padding-top: 0;
}
body .wrapper .promo.payment-page .promo-static-info {
  padding: 120px 0 60px 145px;
}
body .wrapper .promo.payment-page .promo-static-info h1 {
  max-width: 465px;
}
body .wrapper .promo.payment-page .promo-static-info-txt {
  max-width: 655px;
  margin-top: 45px;
}
body .wrapper .promo.safe-page .promo-static-img {
  padding-right: 115px;
  padding-top: 0;
}
body .wrapper .promo.safe-page .promo-static-info {
  padding: 90px 0 60px 145px;
}
body .wrapper .promo.safe-page .promo-static-info h1 {
  max-width: 465px;
}
body .wrapper .promo.safe-page .promo-static-info-txt {
  max-width: 595px;
  margin-top: 45px;
}
body .wrapper .promo.remittance-page .promo-static-info {
  padding: 120px 0 60px 150px;
}
body .wrapper .promo.remittance-page .promo-static-info h1 {
  max-width: 605px;
}
body .wrapper .promo.remittance-page .promo-static-info-txt {
  max-width: 705px;
  margin-top: 35px;
}
body .wrapper .promo.collection-page .promo-static-info h1 {
  max-width: 625px;
}
body .wrapper .promo.collection-page .promo-static-info-txt {
  max-width: 575px;
  margin-top: 30px;
}
body .wrapper .promo.credits-inner-page .promo-static {
  background: #EAEBEE;
}
body .wrapper .promo.credits-inner-page .promo-static-info {
  padding-bottom: 50px;
  padding-top: 66px;
}
body .wrapper .promo.credits-inner-page .promo-static-info-txt {
  margin: 10px 0 0 0;
  font: 300 22px/26px Gilroy;
}
body .wrapper .promo.credits-inner-page .promo-static-info-block-item {
  margin-left: 70px;
}
body .wrapper .promo.credits-inner-page .promo-static-info-block-item:first-child {
  margin-left: 0;
}
body .wrapper .promo.credits-inner-page .promo-static-info-block-item-val {
  font: 22px/1 Gilroy;
}
body .wrapper .promo.credits-inner-page .promo-static-info-block-item-val span {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 34px;
}
body .wrapper .promo.credits-inner-page .promo-static-info .ui-btn {
  margin-top: 40px;
}
body .wrapper .promo.card-inner .promo-static-info h1 span {
  color: #038C73;
  background: linear-gradient(270deg, #6CC47B 0%, #038C73 100%);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .wrapper .promo.card-inner .promo-static-info-block-item-val {
  font: 22px/1 Gilroy;
}
body .wrapper .promo.card-inner .promo-static-info-block-item-val span {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 34px;
}
body .wrapper main .m-inner .advantages.payment-page {
  padding: 0;
}
body .wrapper main .m-inner .advantages.payment-page .advantages-block {
  box-shadow: none !important;
  margin-top: 0;
}
body .wrapper main .m-inner .advantages.payment-page .advantages-block-item {
  width: calc(100%/4);
}
body .wrapper main .m-inner .advantages.payment-page .advantages-block-item-img {
  margin: 0 auto;
}
body .wrapper main .m-inner .advantages.payment-page .advantages-block-item-txt {
  text-align: center;
}
body .wrapper main .m-inner .advantages.safe-page {
  padding: 75px 0 60px 0;
}
body .wrapper main .m-inner .advantages.safe-page .advantages-block {
  padding: 50px 160px 55px 130px;
}
body .wrapper main .m-inner .advantages.safe-page .advantages-block-item {
  width: calc((100% - 255px)/3);
}
body .wrapper main .m-inner .advantages.collection-page .advantages-block {
  padding: 40px 80px 60px 0;
  box-shadow: none !important;
  margin-top: 0;
}
body .wrapper main .m-inner .advantages.collection-page .advantages-block .list {
  max-width: 625px;
}
body .wrapper main .m-inner .banners.payment-page {
  padding: 50px 0 40px 0;
}
body .wrapper main .m-inner .banners.payment-page .banners-list {
  margin-top: 40px;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-title {
  font: 500 30px/36px Gilroy;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-txt {
  margin: 25px 0 45px 0;
  max-width: 295px;
  font: 300 18px/21px Gilroy;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-actions {
  display: flex;
  align-items: center;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-actions .ui-btn-hollow {
  margin-right: 35px;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-actions-ui-arrow-link a {
  display: flex;
  align-items: center;
  font: 300 18px/50px Gilroy;
  color: #262626;
  transition: 0.2s;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-actions-ui-arrow-link a:after {
  content: '';
  margin-left: 10px;
  width: 8px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M1 12.1877L6 6.68774L1 1.18774' stroke='%23F65E64' stroke-width='2'/%3E%3C/svg%3E") center no-repeat;
}
body .wrapper main .m-inner .banners.payment-page .banners-list-item-content-actions-ui-arrow-link a:hover {
  color: #F65E64;
}
body .wrapper main .m-inner .banners.card-inner {
  padding: 40px 0 60px 0;
}
body .wrapper main .m-inner .banners.card-inner .banners-title {
  text-align: center;
}
body .wrapper main .m-inner .banners.card-inner .banners-list {
  margin-top: 40px;
}
body .wrapper main .m-inner .banners.card-inner .banners-list-item-content {
  padding: 50px 60px 50px 60px;
}
body .wrapper main .m-inner .banners.card-inner .banners-list-item-content-title {
  font: 500 30px/36px Gilroy;
}
body .wrapper main .m-inner .banners.card-inner .banners-list-item-content-txt {
  margin-bottom: 0;
  margin-top: 25px;
  font: 300 18px/1.4 Gilroy;
  max-width: 295px;
}
body .wrapper main .m-inner .banners.card-inner .banners-list-item-content-txt a {
  color: #038C73;
}
body .wrapper main .m-inner .banners.card-inner .banners-list-item-content-txt a:hover {
  text-decoration: underline;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-content {
  padding-left: 0;
  padding-right: 100px;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-content span {
  margin-top: 50px;
  display: block;
  font: 300 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-content-block {
  margin-top: 20px;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-content-block-item {
  font: 300 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-img {
  width: 50%;
}
body .wrapper main .m-inner .steps-advantages.rent .steps-advantages-img img {
  width: 100%;
}
body .wrapper main .m-inner .steps-advantages.collection-page {
  padding: 0;
  min-height: 500px;
  background-color: #F2F2F2;
  border-radius: 10px;
  overflow: hidden;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-img {
  max-width: 635px;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-info {
  padding: 73px 155px 75px 135px;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-info h2 {
  max-width: 555px;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-info-txt {
  margin-top: 20px;
  max-width: 553px;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-info-txt p {
  margin-bottom: 30px;
  font: 300 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .steps-advantages.collection-page .steps-advantages-info-txt p:last-child {
  margin-bottom: 0;
}
body .wrapper main .m-inner .tariffs {
  padding: 40px 0;
}
body .wrapper main .m-inner .tariffs-content-list {
  margin-top: 40px;
}
body .wrapper main .m-inner .tariffs.collection-page {
  padding: 90px 0 40px 0;
}
body .wrapper main .m-inner .helping-contacts.rent .helping-contacts-txt {
  max-width: 905px;
}
body .wrapper main .m-inner .helping-contacts.payment-page .helping-contacts-txt {
  max-width: 750px;
}
body .wrapper main .m-inner .helping-contacts.remittance-page .helping-contacts-txt {
  max-width: 750px;
}
body .wrapper main .m-inner .helping-contacts.collection-page .helping-contacts-txt {
  max-width: 935px;
}
body .wrapper main .m-inner .systems {
  padding: 75px 0 60px 0;
}
body .wrapper main .m-inner .systems-content {
  margin-top: 25px;
}
body .wrapper main .m-inner .systems-content-heading {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wrapper main .m-inner .systems-content-heading-item {
  width: 180px;
  font: 300 14px/20px Gilroy;
  color: #858F9A;
  text-transform: uppercase;
}
body .wrapper main .m-inner .systems-content-heading-item:nth-child(2) {
  margin-left: 70px;
}
body .wrapper main .m-inner .systems-content-heading-item:nth-child(3) {
  margin-left: 50px;
}
body .wrapper main .m-inner .systems-content-heading-item:nth-child(5) {
  margin-left: 100px;
}
body .wrapper main .m-inner .systems-content-heading-item:nth-child(6) {
  margin-left: 60px;
}
body .wrapper main .m-inner .systems-content-block-item {
  margin-top: 20px;
  padding: 24px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5) !important;
}
body .wrapper main .m-inner .systems-content-block-item:first-child {
  margin-top: 0;
}
body .wrapper main .m-inner .systems-content-block-item-point {
  width: 180px;
  font: 300 18px/21px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .systems-content-block-item-point:nth-child(2) {
  margin-left: 70px;
}
body .wrapper main .m-inner .systems-content-block-item-point:nth-child(3) {
  margin-left: 50px;
}
body .wrapper main .m-inner .systems-content-block-item-point:nth-child(5) {
  margin-left: 100px;
}
body .wrapper main .m-inner .systems-content-block-item-point:nth-child(6) {
  margin-left: 60px;
}
body .wrapper main .m-inner .systems-content-block-item-point a {
  color: #F65E64;
}
body .wrapper main .m-inner .news.news-page .tags {
  margin-top: 45px;
}
body .wrapper main .m-inner .news.news-page .news-block {
  margin-top: 60px;
  flex-wrap: wrap;
}
body .wrapper main .m-inner .news.news-page .news-block-item {
  width: calc((100% - 190px)/2);
  margin-top: 80px;
}
body .wrapper main .m-inner .news.news-page .news-block-item:nth-child(1) {
  margin-top: 0;
}
body .wrapper main .m-inner .news.news-page .news-block-item:nth-child(2) {
  margin-top: 0;
}
body .wrapper main .m-inner .news.news-page .news-block-item a {
  display: block;
  max-width: 550px;
}
body .wrapper main .m-inner .news.news-page .news-block-item-title {
  margin-top: 15px;
  font: 500 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .news.news-page .news-block-item-txt {
  font: 300 16px/24px Gilroy;
}
body .wrapper main .m-inner .news.inner-page {
  padding: 0;
  width: 350px;
}
body .wrapper main .m-inner .news.inner-page .news-block {
  margin: 0;
  display: block;
}
body .wrapper main .m-inner .news.inner-page .news-block-item {
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
}
body .wrapper main .m-inner .news.inner-page .news-block-item:first-child {
  padding: 0 0 30px 0;
}
body .wrapper main .m-inner .news-fully {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
body .wrapper main .m-inner .news-fully-txt {
  max-width: 820px;
}
body .wrapper main .m-inner .news-heading {
  max-width: 825px;
}
body .wrapper main .m-inner .news-heading-date {
  margin-top: 12px;
  font: 300 16px/20px Gilroy;
  color: #858F9A;
}
body .wrapper main .m-inner .pagination {
  padding: 40px 0 90px 0;
}
body .wrapper main .m-inner .pagination-block {
  display: flex;
  align-items: center;
}
body .wrapper main .m-inner .pagination-block-item {
  font: 300 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .pagination-block-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  padding: 0 5px;
  color: #262626;
  border-radius: 5px;
  transition: 0.3s;
}
body .wrapper main .m-inner .pagination-block-item a:hover {
  background-color: #F2F2F2;
}
body .wrapper main .m-inner .pagination-control {
  margin-left: 20px;
}
body .wrapper main .m-inner .pagination-control a {
  display: block;
  border: 1px solid #737C87;
  font: 300 14px/17px Gilroy;
  color: #262626;
  border-radius: 30px;
  padding: 9px 20px 11px 20px;
  transition: 0.3s;
}
body .wrapper main .m-inner .pagination-control a:hover {
  border-color: #038C73;
  background-color: #038C73;
  color: #ffffff;
}
body .wrapper main .m-inner .pagination-control a:hover svg path {
  stroke: #ffffff;
}
body .wrapper main .m-inner .pagination-control a svg {
  margin-left: 10px;
  transform: translateY(-1px);
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item {
  padding: 55px 60px 37px 60px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big {
  padding: 50px 60px 30px 80px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-name {
  max-width: 475px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-block-item {
  margin-left: 65px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-block-item:first-child {
  margin-left: 0;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-block-item:first-child .deposits-list-item-content-block-item-val span {
  margin-right: 0;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-block-item:last-child .deposits-list-item-content-block-item-val span {
  margin-right: 7px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-actions {
  margin-top: 25px;
  padding-top: 35px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item.big .deposits-list-item-content-actions .ui-btn a {
  padding: 0 40px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-name {
  margin-top: 0;
  max-width: 300px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block {
  align-items: flex-end;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block-item {
  margin-left: 49px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block-item:first-child {
  margin-left: 0;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block-item-val {
  font: 22px/1 Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block-item-val span {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 34px;
}
body .wrapper main .m-inner .deposits-list.credits-page .deposits-list-item .deposits-list-item-content-block-item-desc {
  color: #262626;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page {
  padding: 60px 80px 100px 80px;
  margin-top: 0;
  background-color: #F2F2F2;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item {
  background-color: #ffffff;
  margin-top: 40px;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item:nth-child(-n+2) {
  margin: 0;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item-content-name {
  font: 700 24px/30px Gilroy;
  margin-top: 25px;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item-content-list {
  width: 305px;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item-content-actions {
  border-top: none;
  padding-top: 0;
}
body .wrapper main .m-inner .deposits-list.credits-inner-page .deposits-list-item-content-actions a {
  font: 300 16px/19px Gilroy;
  color: #F65E64;
}
body .wrapper main .m-inner .deposits-steps.credits-page {
  padding: 120px 0 60px 0;
}
body .wrapper main .m-inner .deposits-steps.credits-page .deposits-steps-block-item {
  padding: 205px 25px 30px 25px;
}
body .wrapper main .m-inner .deposits-steps.credits-page .deposits-steps-block-item-content-desc {
  max-width: 228px;
  margin-top: 12px;
  font: 500 17px/21px Gilroy;
  color: #858F9A;
}
body .wrapper main .m-inner .deposits-steps.credits-page .deposits-steps-block-item-content-desc a {
  color: #038C73;
}
body .wrapper main .m-inner .deposits-steps.credits-page .deposits-steps-block-item-content-desc a:hover {
  text-decoration: underline;
}
body .wrapper main .m-inner .deposits-advantages.credits-inner-page .deposits-advantages-block {
  margin-top: 80px;
}
body .wrapper main .m-inner .deposits-advantages.credits-inner-page .deposits-advantages-block-item-content {
  padding: 75px 0 78px 40px;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page {
  margin-top: 80px;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block {
  box-shadow: 0px 5px 32px rgba(204, 208, 214, 0.54) !important;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block-item {
  width: 300px;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block-item-txt {
  margin-top: 40px;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block-item-desc {
  margin-top: 12px;
  text-align: center;
  font: 500 17px/21px Gilroy;
  color: #858F9A;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block-item-desc a {
  color: #038C73;
}
body .wrapper main .m-inner .steps-easy.credits-inner-page .steps-easy-block-item-desc a:hover {
  text-decoration: underline;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page {
  margin-top: 0;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .deposit-calc-controls {
  padding-top: 10px;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .ui-range {
  margin-top: 35px;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .ui-pointer {
  margin-top: 50px;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .deposit-calc-result {
  margin-top: 80px;
  padding: 55px 60px;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .deposit-calc-result-controls {
  margin-top: 40px;
}
body .wrapper main .m-inner .deposit-calc.credits-inner-page .deposit-calc-result-list-item-val .subnum {
  font: 700 33px/40px Gilroy;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .list.big {
  margin-top: 25px;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .points.credits-inner-page {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0DFDF;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .points.credits-inner-page .points-point {
  border-top: none;
  display: block;
  padding-bottom: 50px;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .points.credits-inner-page .points-point-prop {
  width: 205px;
  padding-right: 0;
  font: 500 16px/19px Gilroy;
  color: #767474;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .points.credits-inner-page .points-point-val {
  margin-top: 12px;
  padding: 0;
  width: 100%;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .docs {
  margin-bottom: 45px;
  max-width: 70%;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .docs-item-txt {
  max-width: 170px;
}
body .wrapper main .m-inner .tabs.credits-inner-page .tabs-content-list-item .docs .ui-tip {
  margin-top: 22px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .conditions-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  background-color: #F2F2F2;
  padding: 40px 0 35px 0;
  text-align: center;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .conditions-sub span {
  font: 500 22px/27px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .conditions-sub a {
  margin-top: 3px;
  font: 500 19px/23px Gilroy;
  color: #038C73;
  border-bottom: 1px dashed #038C73;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .conditions.card-inner {
  padding: 0 100px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .conditions.card-inner .conditions-condition-txt {
  max-width: 215px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .deposits-advantages {
  margin-top: 100px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .deposits-advantages-title {
  text-align: center;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .deposits-advantages-block-item-content {
  padding: 75px 0 70px 40px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .deposits-advantages-block-item-content-title {
  max-width: 190px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .docs {
  margin-bottom: 45px;
  max-width: 70%;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .docs-item-txt {
  max-width: 170px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .docs .ui-tip {
  margin-top: 22px;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .points-point-prop.card-img {
  display: flex;
  justify-content: space-between;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .points-point-val {
  padding: 0 0 0 40px;
  width: auto;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .points-point-val .list .full-point {
  margin-top: 10px;
  display: block;
  font: 18px/26px Gilroy;
  color: #262626;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .points-point-val .list .full-point:nth-child(2n+1) {
  margin-top: 0;
}
body .wrapper main .m-inner .tabs.card-inner .tabs-content-list-item .points-point-val .list li {
  margin-top: 10px;
}
