.bg-outside {
  position: relative;
}
.bg-outside:before,
.bg-outside:after {
  content: '';
  display: block;
  width: 100%;
  background: inherit;
  position: absolute;
  bottom: 0px;
  top: 0px;
}
.bg-outside:before {
  right: 100%;
}
.bg-outside:after {
  left: 100%;
}
@media (max-width: 1499px) {
  body .wrapper h1 {
    font: 700 50px/1.3 'Gilroy', sans-serif;
  }
  body .wrapper h2 {
    font: 700 32px/1.3 'Gilroy', sans-serif;
  }
  body .wrapper h3 {
    font: 700 24px/1.3 'Gilroy', sans-serif;
  }
  body .wrapper header .h-inner .top-menu {
    display: none;
  }
  body .wrapper main .m-inner {
    max-width: 1220px;
  }
  body .wrapper main .m-inner .offers-slider {
    width: 55%;
  }
  body .wrapper main .m-inner .offers-slider-block-item-img {
    right: -100px;
  }
  body .wrapper main .m-inner .offers-static {
    width: calc(45% - 60px);
  }
  body .wrapper main .m-inner .credit-body-result {
    padding: 65px 40px 35px;
  }
  body .wrapper main .m-inner .credit-body-result-content-block-item-val {
    font-size: 36px;
  }
  body .wrapper main .m-inner .share-slider-block-item-img {
    right: 25px;
  }
  body .wrapper main .m-inner .share-slider-block-item-content {
    padding: 50px;
  }
  body .wrapper main .m-inner .banners-promo {
    padding: 35px 80px 40px 30px;
  }
  body .wrapper main .m-inner .banners-promo-img {
    left: 10px;
  }
  body .wrapper main .m-inner .banners-promo-img-tip.left {
    left: 20px;
  }
  body .wrapper main .m-inner .banners-promo-img-tip.right {
    right: 0;
  }
  body .wrapper main .m-inner .banners-list-item:last-child {
    overflow: hidden;
  }
  body .wrapper main .m-inner .banners-list-item:last-child .banners-list-item-img img {
    max-width: unset;
  }
  body .wrapper main .m-inner .banners-list-item-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  body .wrapper main .m-inner .banners-list-item-content {
    position: relative;
    padding: 40px 30px;
  }
  body .wrapper main .m-inner .banners-list-item-content-title {
    max-width: 250px;
    font: 700 28px/1.3 'Gilroy', sans-serif;
  }
  body .wrapper main .m-inner .banners-list-item-content-txt {
    max-width: 240px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  body .wrapper main .m-inner .help .tags-block {
    margin-bottom: -15px;
  }
  body .wrapper main .m-inner .help .tags-block-item {
    margin-bottom: 15px;
  }
  body .wrapper footer .f-inner {
    max-width: 1220px;
  }
  body .wrapper footer .f-inner-row-clm:nth-child(3) {
    width: 25%;
  }
}
@media (max-width: 1239px) {
  body .wrapper h1 {
    font-size: 40px;
  }
  body .wrapper h2 {
    font-size: 28px;
  }
  body .wrapper h3 {
    font-size: 20px;
  }
  body .wrapper .promo-slider-block-item {
    padding: 20px 50px;
  }
  body .wrapper .promo-slider-block-item-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  body .wrapper .promo-slider-block-item-img img {
    height: 100%;
  }
  body .wrapper .promo-slider-block-item-txt {
    position: relative;
    top: 0;
    left: 0;
  }
  body .wrapper .promo-slider-block-item-txt-title {
    font: 500 40px/1.2 'Gilroy', sans-serif;
  }
  body .wrapper .promo-slider-block-item-txt-desc {
    font: 20px/1.5 'Gilroy', sans-serif;
  }
  body .wrapper main .m-inner {
    max-width: 960px;
  }
  body .wrapper main .m-inner .offers {
    display: block;
  }
  body .wrapper main .m-inner .offers-slider {
    width: 100%;
  }
  body .wrapper main .m-inner .offers-slider-block-item {
    padding: 35px;
  }
  body .wrapper main .m-inner .offers-slider-block-item-img {
    right: 50px;
  }
  body .wrapper main .m-inner .offers-static {
    width: 100%;
    margin-top: 20px;
    padding: 35px;
  }
  body .wrapper main .m-inner .offers-static-txt {
    max-width: 500px;
  }
  body .wrapper main .m-inner .credit-body {
    display: block;
    margin-top: 40px;
    padding: 40px;
  }
  body .wrapper main .m-inner .credit-body-calc {
    width: 100%;
  }
  body .wrapper main .m-inner .credit-body-result {
    width: 100%;
    margin-top: 40px;
    padding: 40px;
  }
  body .wrapper main .m-inner .credit-body-result-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .wrapper main .m-inner .credit-body-result-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    padding-bottom: 0;
  }
  body .wrapper main .m-inner .credit-body-result-content-block-item {
    margin-top: 0;
    margin-right: 50px;
  }
  body .wrapper main .m-inner .credit-body-result-content-block-item:last-child {
    margin-right: 0;
  }
  body .wrapper main .m-inner .credit-body-result-content-action-img {
    display: none;
  }
  body .wrapper main .m-inner .share-slider-block-item-img {
    right: -50px;
    width: 530px;
  }
  body .wrapper main .m-inner .share-slider-block-item-content {
    display: block;
    padding: 30px;
  }
  body .wrapper main .m-inner .share-slider-block-item-content-txt {
    margin-top: 20px;
    margin-left: 0;
  }
  body .wrapper main .m-inner .share-slider-block-item-content-txt-desc {
    max-width: 500px;
  }
  body .wrapper main .m-inner .news-block-item {
    width: calc((100% - 90px)/3);
  }
  body .wrapper main .m-inner .news-block-item:nth-child(n + 4) {
    display: none;
  }
  body .wrapper main .m-inner .banners-promo {
    padding: 40px;
  }
  body .wrapper main .m-inner .banners-promo-img {
    overflow: hidden;
  }
  body .wrapper main .m-inner .banners-promo-img img {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  body .wrapper main .m-inner .banners-promo-img-tip.left {
    top: 180px;
  }
  body .wrapper main .m-inner .banners-promo-img-tip.right {
    right: 140px;
  }
  body .wrapper footer .f-inner {
    max-width: 960px;
  }
  body .wrapper footer .f-inner .top .f-inner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper footer .f-inner .top .f-inner-row:nth-child(2) .f-inner-row-clm:last-child {
    width: 45%;
  }
  body .wrapper footer .f-inner .top .f-inner-row-clm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper footer .f-inner .top .f-inner-row-clm:first-child {
    width: 45%;
  }
  body .wrapper footer .f-inner .top .f-inner-row-clm:nth-child(2) {
    width: 45%;
  }
  body .wrapper footer .f-inner .top .f-inner-row-clm:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
  body .wrapper footer .f-inner .top .f-inner-row-clm-group {
    width: 45%;
    margin-top: 0;
  }
  body .wrapper footer .f-inner .bot .f-inner-row-clm {
    width: 33%;
  }
  body .wrapper footer .f-inner .bot .f-inner-row-clm:nth-child(2) .f-inner-row-clm-socials-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 979px) {
  body .wrapper h1 {
    font-size: 32px;
  }
  body .wrapper h2 {
    font-size: 24px;
  }
  body .wrapper h3 {
    font-size: 18px;
  }
  body .wrapper .ui-btn a {
    line-height: 45px;
  }
  body .wrapper header .h-inner .top-helpers-phone,
  body .wrapper header .h-inner .top-helpers-terminals,
  body .wrapper header .h-inner .top-helpers-geo {
    display: none;
  }
  body .wrapper header .h-inner .top-helpers-lk,
  body .wrapper header .h-inner .top-helpers-mb {
    display: block;
  }
  body .wrapper header .h-inner .top-helpers-search {
    margin-left: 15px;
  }
  body .wrapper header .h-inner .bot-type,
  body .wrapper header .h-inner .bot .ui-btn-hollow {
    display: none;
  }
  body .wrapper .promo-slider-block-item-txt-title {
    font-size: 32px;
  }
  body .wrapper .promo-slider-block-item-txt-desc {
    font-size: 18px;
  }
  body .wrapper main .m-inner {
    max-width: 740px;
  }
  body .wrapper main .m-inner .offers-slider-block-item {
    padding: 20px;
  }
  body .wrapper main .m-inner .offers-slider-block-item-list {
    display: block;
  }
  body .wrapper main .m-inner .offers-slider-block-item-list-item {
    margin-left: 0;
    margin-top: 20px;
  }
  body .wrapper main .m-inner .offers-slider-block-item-list-item:first-child {
    margin-top: 0;
  }
  body .wrapper main .m-inner .credit-body {
    padding: 20px;
  }
  body .wrapper main .m-inner .credit-body-result {
    padding: 20px;
  }
  body .wrapper main .m-inner .share-slider-block-item-content {
    padding: 20px;
  }
  body .wrapper main .m-inner .share-slider-block-item-content-txt-desc {
    font-size: 18px;
  }
  body .wrapper footer .f-inner {
    max-width: 740px;
  }
}
@media (max-width: 759px) {
  body .wrapper main .m-inner {
    max-width: 100%;
  }
  body .wrapper footer .f-inner {
    max-width: 100%;
  }
}
