@font: 'Gilroy', sans-serif;

@white: #ffffff;
@black: #262626;
@green: #038c73;
@gray-bg: #f2f2f2;
@gray-bg-2: #f9f9f9;
@gray-bg-3: #d0d0d0;
@gray-blue: #858f9a;
@gray-dots: #c1c1c1;
@gray-promo-bg: #eaebee;
@gray-br-1: #d9d9d9;
@gray-br-2: #e0dfdf;
@gray-br-3: #e6e8e0;
@gray-counter-bg: #c9c9c9;
@gray-txt: #858f9a;
@gray-txt-2: #767474;
@gray-txt-3: #666666;
@gray-check: #737c87;
@gray-tooltip: #cacdc2;
@gray-lt: #ededed;
@red: #f65e64;

.bg-outside {
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    background: inherit;
    position: absolute;
    bottom: 0px;
    top: 0px;
  }
  &:before {
    right: 100%;
  }
  &:after {
    left: 100%;
  }
}

@media (max-width: 1499px) {
  body {
    .wrapper {
      header {
        .h-inner {
          .top {
            &-menu {
              display: none;
            }
          }
        }
      }
      main {
        .m-inner {
          width: 1220px;
          .offers {
            &-slider {
              width: 55%;
              &-block {
                &-item {
                  position: relative;
                  background: @gray-bg url(../media/img/offers_slider_bg.svg) 100% 100% no-repeat;
                  &:before {
                    content: '';
                    position: absolute;
                    right: -100px;
                    top: 55%;
                    width: 300px;
                    height: 210px;
                    transform: translateY(-50%);
                    background: url(../media/img/offers_slider_img1.png) no-repeat;
                    background-size: contain;
                  }
                  &-img {
                    display: none;
                  }
                }
              }
            }
            &-static {
              width: ~"calc(45% - 60px)";
            }
          }
          .credit {
            &-body {
              &-result {
                padding: 65px 40px 35px;
                &-content {
                  &-block {
                    &-item {
                      &-val {
                        font-size: 36px;
                      }
                    }
                  }
                }
              }
            }
          }
          .share {
            &-slider {
              &-block {
                &-item {
                  overflow: hidden;
                  &-img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -22%;
                    img {
                      max-width: unset;
                      height: 100%;
                    }
                  }
                  &-content {
                    position: relative;
                    padding: 50px;
                  }
                }
              }
            }
          }
          .banners {
            &-promo {
              padding: 35px 80px 40px 30px;
              &-img {
                left: 10px;
                &-tip {
                  &.left {
                    left: 20px;
                  }
                  &.right {
                    right: 0;
                  }
                }
              }
            }
            &-list {
              &-item {
                &:last-child {
                  overflow: hidden;
                  .banners-list-item-img {
                    img {
                      max-width: unset;
                    }
                  }
                }
                &-img {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                }
                &-content {
                  position: relative;
                  padding: 40px 30px;
                  &-title {
                    max-width: 250px;
                    font: 700 28px/1.3 @font;
                  }
                  &-txt {
                    max-width: 240px;
                    margin-top: 10px;
                    margin-bottom: 25px;
                    font-size: 18px;
                  }
                }
              }
            }
          }
          .help {
            .tags {
              &-block {
                margin-bottom: -15px;
                &-item {
                  margin-right: 15px;
                  margin-bottom: 15px;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
      footer {
        .f-inner {
          width: 1220px;
          &-row {
            &-clm {
              &:nth-child(3) {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1239px) {
  body {
    .wrapper {
      header {

      }
      main {
        .m-inner {
          width: 960px;
        }
      }
      footer {
        .f-inner {
          width: 960px;
          .top {
            .f-inner-row {
              &:nth-child(2) {
                .f-inner-row-clm {
                  &:nth-child(2) {
                    display: none;
                  }
                }
              }
            }
          }
          &-row {
            flex-wrap: wrap;
            &-clm {
              &:first-child {
                width: 50%;
              }
              &:last-child {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 979px) {
  body {
    .wrapper {
      main {
        .m-inner {
          width: 740px;
        }
      }
      footer {
        .f-inner {
          width: 740px;
        }
      }
    }
  }
}

@media (max-width: 759px) {
  body {
    .wrapper {
      main {
        .m-inner {
          width: 100%;
        }
      }
      footer {
        .f-inner {
          width: 100%;
        }
      }
    }
  }
}
